.C {
  font-size: 1rem;
}

.Ratio {
  &Auto {
    // auto
    aspect-ratio: auto;
  }
  &Square {
    // 1:1
    aspect-ratio: 1 / 1;
  }
  &Television {
    // 4:3
    aspect-ratio: 4 / 3;
  }
  &Video {
    // 16:9
    aspect-ratio: 16 / 9;
  }
  &UltraWide {
    // 21:9
    aspect-ratio: 21 / 9;
  }
  &SuperUltraWide { 
    // 32:9
    aspect-ratio: 32 / 9;
  }
}
